<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/latihan" text="Kembali"></ion-back-button>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="onClick(exercise)" *ngFor="let exercise of Exercises.data">
      <ion-thumbnail slot="start"><img src="assets/img/video-icon.png"></ion-thumbnail>
      <ion-label>{{exercise.nama| titlecase}}</ion-label>
      <br />
    </ion-item>
  </ion-list>

</ion-content>
