<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/evaluasi" text="Kembali"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">   
  <p>Uji Jalan</p>
  <ion-card>
    <canvas id="ujCanvas" #ujCanvas></canvas>
  </ion-card>

  <br />

  <p>Kualitas Hidup</p>
  <ion-card>
    <canvas id="khCanvas" #khCanvas></canvas>
  </ion-card>

  <br />

  <p>Skala Sesak</p>
  <ion-card>
    <canvas id="ssCanvas" #ssCanvas></canvas>
  </ion-card>

  <br />

  <p>Darah</p>
  <ion-card>
    <canvas id="drhCanvas" #drhCanvas></canvas>
  </ion-card>

  <br />

  <br />

  <ion-button type="submit" expand="block" color="dark" href="menu/evaluasi/bulanan/tambah">Input Data Evaluasi
  </ion-button>



</ion-content>
