  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="menu/latihan" text="Kembali"></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <h5><b>Isian Pra Latihan</b></h5>
  <br />

<ion-item>
  <ion-label position="floating">Skala Borg</ion-label>
  <ion-input type="number" placeholder="contoh: 8"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Saturasi Oksigen</ion-label>
  <ion-input type="number" placeholder="contoh: 95"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Denyut Jantung</ion-label>
  <ion-input type="number" placeholder="contoh: 60"></ion-input>
</ion-item>

  <br />
   <ion-button type="submit" expand="block" color="primary" href="./menu/latihan/video" routerDirection="forward">Mulai Latihan</ion-button>


</ion-content>
