<ion-content [fullscreen]="true" class="ion-padding">
   <ion-list>
      <ion-item *ngFor="let exercise of Exercise.data">
         <ion-label>
            <h2><strong>{{exercise.nama | titlecase}}</strong></h2>
            <ion-label #exerciseid id="exerciseid" hidden>{{exercise.id}}</ion-label>
            <br />

            <div align="center">
               <iframe [src]="exercise.url | transformUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
            </div>

         </ion-label>
         <br />
      </ion-item>
      <ion-button type="submit" expand="block" color="dark" (click)="onSubmit()">Berhenti</ion-button>
   </ion-list>
</ion-content>


