  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Judul Video
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">

  <iframe width="300" height="150" src="https://www.youtube.com/embed/ECxYJcnvyMw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <br />
   <ion-button type="submit" expand="block" color="primary" href="./menu/latihan/pascalatihan" routerDirection="forward">Selesai</ion-button>

</ion-content>