<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-icon name="calendar-number" item-start></ion-icon>
      &nbsp; Evaluasi Bulanan
  </ion-item>

  <ion-item>
    <ion-icon name="calendar" item-start></ion-icon>
      &nbsp; Evaluasi Mingguan
  </ion-item>

  <ion-item>
    <ion-icon name="stats-chart" item-start></ion-icon>
      &nbsp; Statistik Latihan
  </ion-item>
</ion-list>
</ion-content>
