  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <b>Informasi</b>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-slides pager>

    <ion-slide>
      <ion-card align="center">
      <img src="assets/img/persiapan-latihan.png" width="70%" />
    </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card align="center">
      <img src="assets/img/prosedur-6MWT.png" width="70%" />
    </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card align="center">
      <img src="assets/img/prosedur-STS30S.png" width="70%" />
    </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card align="center">
      <img src="assets/img/terminasi-latihan.png" width="70%" />
    </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card align="center">
      <img src="assets/img/skala-borg.png" width="70%"/>
    </ion-card>
    </ion-slide>

     <ion-slide>
      <ion-card align="center">
      <img src="assets/img/pengembang-aplikasi.png" width="70%"/>
    </ion-card>
    </ion-slide>

  </ion-slides>
  </ion-content>
