  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Informasi
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-slides pager>

    <ion-slide>
      <ion-card>
      <img src="assets/img/info1.png"/>
    </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
      <img src="assets/img/info2.png"/>
    </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
      <img src="assets/img/info3.png"/>
    </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
      <img src="assets/img/info4.png"/>
    </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
      <img src="assets/img/skala-borg.png"/>
    </ion-card>
    </ion-slide>

  </ion-slides>
  </ion-content>
