<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/latihan" text="Kembali"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Denyut Jantung</p>
  <ion-card>
    <canvas id="hrCanvas" #hrCanvas></canvas>
  </ion-card>

  <br />
  
  <p>Saturasi Oksigen</p>
  <ion-card>
    <canvas id="sato2Canvas" #sato2Canvas></canvas>
  </ion-card>

  <br />

  <p>Skala Borg</p>
  <ion-card>
    <canvas id="sbCanvas" #sbCanvas></canvas>
  </ion-card>

</ion-content>
