  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <img src="assets/img/stethoscope_icon.png" style="width: 30px; height: 30px;" />
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <h5><b>Isian Pra Latihan</b></h5>
  <br />
  <ion-grid>
    <ion-row>
      <ion-col>Skala Borg</ion-col>
      <ion-col><ion-input type="text" style="background: #f3f3f3;"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Saturasi Oksigen</ion-col>
      <ion-col><ion-input type="text" style="background: #f3f3f3;"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Denyut Jantung</ion-col>
      <ion-col><ion-input type="text" style="background: #f3f3f3;"></ion-input></ion-col>
    </ion-row>
  </ion-grid>
  <br />
   <ion-button type="submit" expand="block" color="primary" >Mulai Latihan</ion-button>

</ion-content>
