
<ion-content class="ion-padding">
  <h5><b>Isian Pasca Latihan</b></h5>
  <br />
  <ion-grid>
    <ion-row>
      <ion-col>Skala Borg</ion-col>
      <ion-col><ion-input type="text" style="background: #f3f3f3;"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Saturasi Oksigen</ion-col>
      <ion-col><ion-input type="text" style="background: #f3f3f3;"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Denyut Jantung</ion-col>
      <ion-col><ion-input type="text" style="background: #f3f3f3;"></ion-input></ion-col>
    </ion-row>
  </ion-grid>
  <br />
   <ion-button type="submit" expand="block" color="primary" href="./menu/latihan/" routerDirection="forward">Submit Hasil</ion-button>


</ion-content>
