  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="menu/evaluasi" text="Kembali"></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <h5><b>Riwayat Evaluasi Mingguan</b></h5>
  <br />


  <ion-list>
    <ion-item align="center">

    <ion-grid >
      <ion-row >
        <ion-col align="center">
          Tanggal
        </ion-col>
        <ion-col align="center">
          RHR
        </ion-col>
        <ion-col align="center">
          BFI
        </ion-col>
        <ion-col align="center">
          STS
        </ion-col>

      </ion-row>
    </ion-grid>
      <br />
    </ion-item>

   <!--  <ion-item align="center">

<ion-grid>
      <ion-row >
        <ion-col align="center">
          2021-08-10
        </ion-col>
        <ion-col align="center">
          60
        </ion-col>
        <ion-col align="center">
          5
        </ion-col>
        <ion-col align="center">
          15
        </ion-col>

      </ion-row>
    </ion-grid>
      <br />
    </ion-item> -->

    <ion-item *ngFor="let eval of Evaluation.data">
       <ion-grid >
      <ion-row >
        <ion-col align="center">
          {{eval.tanggal}}
        </ion-col>
        <ion-col align="center">
          {{eval.rhr}}
        </ion-col>
        <ion-col align="center">
          {{eval.bfi}}
        </ion-col>
        <ion-col align="center">
          {{eval.sts30detik}}
        </ion-col>

      </ion-row>
    </ion-grid>
      <br />
      <br />
    </ion-item>
  </ion-list>

  <br />

  <ion-button type="submit" expand="block" color="dark" href="menu/evaluasi/mingguan/tambah">   Tambah Data
  </ion-button>



</ion-content>
