<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b>Evaluasi</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item href="./menu/evaluasi/harian">
    <ion-icon name="calendar-number" item-start></ion-icon>
      &nbsp;Evaluasi Harian
  </ion-item>

  <ion-item href="./menu/evaluasi/mingguan">
    <ion-icon name="calendar-clear" item-start></ion-icon>
      &nbsp;Evaluasi Mingguan
  </ion-item>

  <ion-item href="./menu/evaluasi/bulanan">
    <ion-icon name="calendar" item-start></ion-icon>
      &nbsp;Evaluasi Bulanan
  </ion-item>
</ion-list>
</ion-content>
