  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="menu/evaluasi/bulanan" text="Kembali"></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <h5><b>Evaluasi Bulanan</b></h5>
  <br />

  <form [formGroup]="monthlyEvalForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Uji Jalan 6 Menit</ion-label>
      <ion-input type="number" placeholder="dalam meter" formControlName="uji_jalan" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Skala Sesak mMRC</ion-label>
      <ion-input type="number" placeholder="Skala: 0-4" formControlName="skala_sesak" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tekanan Darah Sistolik</ion-label>
      <ion-input type="number" placeholder="Skala: 70-250" formControlName="sistolik" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tekanan Darah Diastolik</ion-label>
      <ion-input type="number" placeholder="Skala: 0:120" formControlName="diastolik" required></ion-input>
    </ion-item>

    <br /><br />
     <ion-button type="submit" expand="block" color="dark">Submit</ion-button>
  </form>
</ion-content>
