<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Latihan
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="card-background-page">
  <ion-card>
    <img src="assets/img/cake1.jpeg"/>
    <div class="card-title">Latihan Pernapasan</div>
  </ion-card>

  <ion-card>
    <img src="assets/img/cake2.jpeg"/>
    <div class="card-title">Latihan Endurans</div>
  </ion-card>

  <ion-card>
    <img src="assets/img/cake3.jpeg"/>
    <div class="card-title">Latihan Penguatan</div>
  </ion-card>
</ion-content>