 <!--  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <img src="assets/img/stethoscope_icon.png" style="width: 30px; height: 30px;" />
      </ion-title>
    </ion-toolbar>
  </ion-header> -->

<ion-content class="card">
  <ion-card href="./menu/latihan/pralatihan">
    <img src="assets/img/breathing.jpg"/>

    <ion-card-content>
      <ion-card-title>Latihan Pernapasan</ion-card-title>
      <p>pic by Freepik</p>
  </ion-card-content>
</ion-card>

<ion-card href="./menu/latihan/pralatihan">
    <img src="assets/img/endurance.jpg"/>

    <ion-card-content>
      <ion-card-title>Latihan Endurans</ion-card-title>
      <p>pic by Freepik</p>
  </ion-card-content>
</ion-card>

<ion-card href="./menu/latihan/pralatihan">
    <img src="assets/img/strengthening.jpg"/>

    <ion-card-content>
      <ion-card-title>Latihan Penguatan</ion-card-title>
      <p>pic by Freepik</p>
  </ion-card-content>
</ion-card>

</ion-content>