  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="menu/evaluasi" text="Kembali"></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <h5><b>Evaluasi Mingguan</b></h5>
  <br />

  <form [formGroup]="weeklyEvalForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Tingkat Kelelahan (BFI)</ion-label>
      <ion-input type="number" placeholder="Skala: 0-10" formControlName="bfi" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">STS 30 detik</ion-label>
      <ion-input type="number" placeholder="x kali" formControlName="sts30detik" required></ion-input>
    </ion-item>

    <br /><br />
     <ion-button type="submit" expand="block" color="dark">Submit</ion-button>
  </form>
</ion-content>
